<div class="alerts">
    <div class="tab">
      <button class="active tablinks" onclick="{%=o.self.chart.id%}.renderer.openTab(event, 'tab-alert')">Alert</button>
    </div>
    
    <div class="tab-alert tabcontent active" style="display: block">
      <div class="input-group">
          <label>Message</label>
          <textarea placeholder=""></textarea>
      </div>
      <div class="alert-rules rules" style="margin-bottom: 15px"></div>
      <div class="input-group" style="margin-bottom: 15px">
        <label>Webhook URL (optional)</label>
        <input type="text" class="alert-webhook-url" placeholder="https://example.com/webhook">
      </div>
      <div class="input-group" style="margin-bottom: 15px">
        <label>Recurring</label>
        <input type="checkbox" class="alert-recurring" style="flex: 0 0 auto; width: auto;">
      </div>
      <div style="margin-bottom: 15px">
          <input type="button" onclick="{%=o.self.chart.id%}.DOMHandler.controls.addAlertRule()" value="Add condition">
      
          <input type="button" onclick="{%=o.self.chart.id%}.DOMHandler.controls.saveAlert()" value="Submit" style="float: right">
      </div>
  
    </div>
</div>