<div class="add">
    <div class="tab">
        <button class="tablinks active" onclick="{%=o.self.id%}.renderer.openTab(event, 'tab-settings')">{%=o.title%}</button>
    </div>

    <div class="tab-settings tabcontent active" style="display:block">

        {% if (o.tool !== 'ruler') { %}
        <div class="input-group">
            <label for="">Width</label>
            <select class="line-width">
                {% for (var i=1; i<21; i++) { %} 
                <option value="{%=i%}" {% if (i === 2) { print('selected'); } %}>{%=i%}</option>
                {% } %}
            </select>
        </div>
        {% } %}

        <div class="input-group">
            <label for="">Color</label>
            <div style="flex:1;
                display: flex;
                align-items: center; /* Centers vertically */
            " class="line-color" data-key="color">
                
            </div>
        </div>

        <div>
            <input type="button" onclick="{%=o.self.chart.id%}.drawingHandler._toggle('{%=o.tool%}')" value="Submit">
        </div>

    </div>
</div>