<div class="add">
    <div class="tab">
        <button class="tablinks active" onclick="{%=o.self.id%}.renderer.openTab(event, 'tab-settings')">{%=o.title%}</button>
    </div>

    <div id="tab-settings" class="tabcontent active" style="display:block">

        <div class="input-group">
            <label for="">Text</label>
            <input type="text" class="text">
        </div>

        <div class="input-group">
            <label for="">Size</label>
            <select class="line-width">
                {% for (var i=8; i<72; i++) { %} 
                <option value="{%=i%}" {% if (i === 9) { print('selected'); } %}>{%=i%}</option>
                {% } %}
            </select>
        </div>

        <div class="input-group">
            <label for="">Color</label>
            <div style="flex:1;
                display: flex;
                align-items: center; /* Centers vertically */
            " class="line-color" data-key="color">
                
            </div>
        </div>

        <div>
            <input type="button" onclick="{%=o.self.chart.id%}.drawingHandler._toggle('{%=o.tool%}')" value="Submit">
        </div>

    </div>
</div>